script(type="text/ng-template" id="indexnav.html")
  nav#headerContainer.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container.container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/', title='首页')       
              img(src='/img/logo.png')
          #navbarUser
            -if (user)
              .dropdown(role='presentation')
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.my-username 欢迎您,#{user.name}
                  span.fa.fa-caret-down
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/user/#{user._id}') 个人中心
                  li
                    a(href='/logout') 退出
            -else
              .dropdown(role='presentation')
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.my-username 登陆
                  span.fa.fa-caret-down
                ul.dropdown-menu(role='menu')
                  li
                    a.navbar-link(href="#", data-toggle="modal", data-target="#signupModal") 注册
                  li
                    a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") 登录
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='/') 首页
              li
                a(href='#') 信息提取
              li
                a#leanoteApp(href='#') 地图视图
              li
                a(href='#') 关于
    #signupModal.modal.fade
      .modal-dialog
        .modal-content
          form(method="POST", action="/user/signup")
            .modal-header(style="color:rgb(57,57,57)") 注册
            .modal-body
              .form-group
                label(for="signupName",style="color:rgb(57,57,57)") 用户名
                input#signupName.form-control(name="name", type="text" ,placeholder="数字字母下划线组合",pattern="[a-zA-Z0-9_\.]+",required,maxlength="15")
              .form-group
                label(for="signupPassword",style="color:rgb(57,57,57)") 密码
                input#signupPassword.form-control(name="password", type="password",maxlength="15")
            .modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") 关闭
              button.btn.btn-success(type="submit") 注册
    #signinModal.modal.fade
      .modal-dialog
        .modal-content
          form(method="POST", action="/user/signin")
            .modal-header(style="color:rgb(57,57,57)") 登录
            .modal-body
              .form-group
                label(for="signinName",style="color:rgb(57,57,57)") 用户名
                input#signinName.form-control(name="name", type="text",placeholder="请输入用户名",pattern="[a-zA-Z0-9_\.]+",required,maxlength="15")
              .form-group
                label(for="signinPassword",style="color:rgb(57,57,57)") 密码
                input#signinPassword.form-control(name="password", type="password")
            .modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") 关闭
              button.btn.btn-success(type="submit") 登录
script(type="text/ng-template" id="editnav.html")
  nav.navbar.navbar-default(role='navigation')
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/', title='首页')       
          img(src='/img/logo.png' width="32px" height = "32px")
        h3.navbar-text(ng-hide="state.isContentCollapsed") 文档信息抽取
        a.navbar-brand(href="#")
          i(ng-click="collapseContent()" ng-class="{'fa fa-outdent':!state.isContentCollapsed,'fa fa-indent':state.isContentCollapsed}" title="目录")
      .collapse.navbar-collapse
        form.navbar-form.navbar-left(role='search')
          md-autocomplete(md-selected-item="state.selectedNode" md-search-text="searchText" md-items="item in getMatchesDoc(searchText)" md-item-text="item.label" md-selected-item-change="selectDocChange()" placeholder="搜索文档...")
            md-item-template
              span(md-highlight-text="searchText") {{item.label}}
            md-not-found 无匹配文档.
            
        -if (user)
         p.navbar-text.navbar-right
          span 欢迎您,#{user.name}
          span &nbsp;|&nbsp;
          a.navbar-link(href="/logout") 登出
          a.navbar-link(href="#" ng-hide="state.showMapView" ng-click="collapseEdit()" title="隐藏编辑视图")
            span.fa.fa-indent
        ul.nav.navbar-nav
          li
            button.btn.btn-default.navbar-btn(type="button" data-toggle="modal" data-target="#upload-modal")
              i.fa.fa-upload
              | 上传文档
          li
            toggle-switch.switch-success.navbar-btn(ng-model="state.showMapView" on-label="地图"
              off-label="文档" style="padding:1px 0px;margin-left:5px")
script(type="text/ng-template" id="docview.html")
  .parent
    #content.split.split-horizontal
      .btn-toolbar(role="toolbar" style="border:groove;border-width:1px")
        .btn-group
          button.btn.btn-xs.btn-default(type="button" ng-click="showAddGroupInput()" title="新建分组")
            span.fa.fa-plus
              |新分组
          button.btn.btn-xs.btn-default(type="button" ng-click="collapseContent()" title="隐藏目录")
            span.fa.fa-outdent
              |隐藏
      div(ng-show="state.showAddGroupInput" style="margin-top:5px")
        form.form-horizontal(role='form',name="newgroupform"  novalidate)
          .form-group.form-group-sm
            .col-sm-7.col-sm-offset-1
              input.form-control.input-sm#newgroupinput(placeholder="输入新建分组名" type="text" ng-model="state.newGroupName" name ="newgroupname" grpnamevalid)
              span.text-warning(ng-show="newgroupform.newgroupname.$error.grpnamevalid") 组名已经存在！
            .col-sm-4
              .btn-group
                a.btn.btn-default.btn-sm.btn.btn-success(role="button" ng-click="submitAddnewGroup()" ng-disabled="newgroupform.newgroupname.$error.grpnamevalid") 好
                a.btn.btn-default.btn-sm.btn-warning(role="button" ng-click="hideAddGroupInput()") 否
      treecontrol(context-menus="leftmenuOptions(node)" class="tree-classic" tree-model="state.my_treedata" options="state.tree_options" expanded-nodes="state.expanded_nodes" on-selection="my_tree_handler(node)" selected-node="state.selectedNode" ng-init="state.my_treedata="+userTreeData) {{node.label}}{{node.children? "("+node.children.length+")":""}}
    #doc.split.split-horizontal
      #docContent(context-menu="state.middlemenuOptions")
        h3 尚未选择文档
    #result.split.split-horizontal
      .btn-toolbar(role="toolbar")
        .btn-group
          a.btn.btn-sm.btn-default(href="#" ng-click="filterToggle()" )
            span.fa.fa-filter
              |筛选 
          a.btn.btn-sm.btn-default(href="#" ng-click="filterToggle()")
            span.fa.fa-database
              |保存
          a.btn.btn-sm.btn-default(href="#" ng-csv="state.results|filter:{'selected':true}" filename="export_data.csv" field-separator="," decimal-separator="." csv-label="true" ng-disabled="exportEmptyWarning()")
            span.fa.fa-save
              |导出
          a.btn.btn-sm.btn-default(href="#" ng-click="selectAll()")
            span.fa(ng-class="{'fa-check-square-o':state.selectAll,'fa-square-o':!state.selectAll}")
              |{{state.selectAll?"不选":"全选"}}
          a.btn.btn-sm.btn-default(href="#" ng-click="state.showMapView=!state.showMapView")
            span.fa.fa-globe
              |地图
          a.btn.btn-sm.btn-default(href="#" ng-click="collapseEdit()" title="收放编辑视图")
            span.fa.fa-indent
              |隐藏
      div(filter-form ng-show="state.filterChecked")
      div(filter-result)
      #upload-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') &times;
                span.sr-only Close
              h4#myLargeModalLabel.modal-title 上传文档         
            .modal-body
              div.container
                #fileupload(nv-file-drop='', uploader='uploader', filters='queueLimit, customFilter' ng-init="initGroup()")
                  .row-fluid
                    .col-md-10
                      div(ng-show='uploader.isHTML5') 
                        .well.my-drop-zone(nv-file-over='', uploader='uploader')
                          input(type='file', nv-file-select='', uploader='uploader')
                          h4.text-center 拖放文件到此处
                  .row-fluid
                    .col-md-10(style='margin-bottom: 40px')
                              table.table.table-striped.table-hover
                                thead
                                  tr
                                    th(width='20%') 
                                      h5.text-center 文件名              
                                    th
                                      h5.text-center 类型
                                    th 
                                      h5.text-center 分组
                                    th
                                      h5.text-center 文档日期
                                    th 
                                      h5.text-center 状态                                 
                                    th 
                                      h5.text-center 操作
                                tbody
                                  tr(ng-repeat='item in uploader.queue')
                                    //-名称
                                    td
                                      h5 {{ item.file.name }}
                                    //- 大小
                                    //- td(ng-show='uploader.isHTML5', nowrap='')
                                    //-   h5 {{ item.file.size/1024/1024|number:2 }} MB
                                    //-类型
                                    td
                                      select(class="form-control" ng-model="item.formData[0].docType" ng-init="item.formData[0].docType='news'")
                                        each item in [{key:"新闻",value:"news"},{key:"叙事",value:"nars"},{key:"口语",value:"nars"},{key:"科学",value:"sci"}]
                                          option(value=item.value)=item.key
                                    //-分组
                                    td
                                      select(class="form-control" ng-model="item.formData[0].docGroup" ng-options= "group for group in state.groupOptions")
                                    //-时间
                                    td
                                      md-datepicker(ng-model="item.formData[0].docDate" md-placeholder="日期" ng-init="initDate(item.formData[0])")
                                    //-操作
                                    td.text-center
                                      span(ng-show='item.isSuccess')
                                        i.glyphicon.glyphicon-ok
                                      span(ng-show='item.isCancel')
                                        i.glyphicon.glyphicon-ban-circle
                                      span(ng-show='item.isError')
                                        i.glyphicon.glyphicon-remove
                                    td(nowrap='')
                                      .btn-group
                                        button.btn.btn-success.btn-sm(title='上传' type='button', ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
                                          span.glyphicon.glyphicon-upload
                                        button.btn.btn-warning.btn-sm(title='取消' type='button', ng-click='item.cancel()', ng-disabled='!item.isUploading')
                                          span.glyphicon.glyphicon-ban-circle
                                        button.btn.btn-danger.btn-sm(title='删除' type='button', ng-click='item.remove()')
                                          span.glyphicon.glyphicon-trash
                      
                              div 上传进度:
                                .progress(style='')
                                  .progress-bar(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }")
                                //- .form-group
                                //-   label(for="filetype" ) 选择分组        
                                //-   select(class="form-control" ng-model="uploader.queue[0].formData[0].docGroup" ng-disabled="uploader.queue.length==0" ng-options= "group for group in state.groupOptions" ng-init="initGroup()")
                                //- .form-group
                                //-   label(for="timesequence" class="col-sm-2") 时间序列
                                //-   input(type="checkbox"  class = "form-inline" ng-init="uploader.queue[0].formData.push({sequence:false})" ng-model="uploader.queue[0].formData[0].sequence" ng-disabled="uploader.queue.length==0")
                              .btn-group(style="right:10px;position:absolute")
                                button.btn.btn-success.btn-s(type='button', ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length ||uploader.queue[0].formData[0].filetype=="none"')
                                  span.glyphicon.glyphicon-upload
                                  |  上传
                                button.btn.btn-warning.btn-s(type='button', ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading')
                                  span.glyphicon.glyphicon-ban-circle
                                  |  取消
                                button.btn.btn-danger.btn-s(type='button', ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length')
                                  span.glyphicon.glyphicon-trash
                                  |  删除  
script(type="text/ng-template" id="filter.html")
  form.form-horizontal.filterForm(role='form')
    #root.form-group 
      .col-sm-10.col-sm-offset-1  
        input.form-control(placeholder='筛选,例:"湖南+污染/湘江/水库-严重' id="" ng-model="state.rootKeyWord"  title="'+'表示且,'-'表示非,'/'表示或")
script(type="text/ng-template",id = "filter-result.html")
  ul.list-group
    li.list-group-item(ng-repeat="result in state.results | filter:extract")
     input(type="checkbox"  class = "form-inline" ng-model="result.selected" style="height:18px")
     div(style="margin-top:-32px;margin-left:18px")
       h4.text-primary 时间：{{result.TIME}}
       h4.text-primary 地点：{{result.LOC}}
       h4.text-warning 经纬度：{{result.LNG|number:3}},{{result.LAT|number:3}}
       div
         h4.text-success 内容：
         h4(style = "margin-left:50px;margin-top:-28px") {{result.CONTENT}}

script(type="text/ng-template" id="mapview.html")
  #sidebar.sidebar.collapsed
    .sidebar-tabs
      ul(role='tablist')
        li
          a(href='#folder', role='tab')
            i.fa.fa-folder-open-o
        li
          a(href='#events', role='tab')
            i.fa.fa-list-ol
        li
          a(href='#setting', role='tab')
            i.fa.fa-cog
    .sidebar-content
      #folder.sidebar-pane
        h2.sidebar-header 文档
          span.sidebar-close
            i.fa.fa-caret-right
        treecontrol(class="tree-classic" tree-model="state.my_treedata" options="state.tree_options" expanded-nodes="state.expanded_nodes" on-selection="my_tree_handler(node)" selected-node="state.selectedNode" ng-init="state.my_treedata="+userTreeData) {{node.label}}
      #events.sidebar-pane
        h2.sidebar-header 事件
          span.sidebar-close
            i.fa.fa-caret-right
        .btn-toolbar(role="toolbar" style="margin-top:5px")
          .btn-group
            a.btn.btn-xs.btn-default(href="#" ng-csv="state.results|filter:{'selected':true}" filename="export_data.csv" field-separator="," decimal-separator=".")
              span.fa.fa-save
                |导出
            a.btn.btn-xs.btn-default(href="#" ng-click="selectAll()")
              span.fa(ng-class="{'fa-check-square-o':state.selectAll,'fa-square-o':!state.selectAll}")
                |{{state.selectAll?"不选":"全选"}}
        div(filter-form)
        div(filter-result)
      #setting.sidebar-pane
        h2.sidebar-header 设置
          span.sidebar-close
            i.fa.fa-caret-right
        .panel.panel-default
          .panel-heading 功能设置
          .panel-body
            form.form-horizontal(role="form")
              .form-group
                label.col-sm-4.control-label 绘制轨迹
                .col-sm-8
                  toggle-switch.switch-success(ng-model="state.showTrace" on-label="显示"
              off-label="关闭")
              .form-group
                label.col-sm-4.control-label 时间轴
                .col-sm-8
                  toggle-switch.switch-success(ng-model="state.showTimeLine" on-label="开启"
              off-label="关闭")
              .form-group
                label.col-sm-4.control-label 信息窗
                .col-sm-8
                  toggle-switch.switch-success(ng-model="state.showGalley" on-label="开启"
              off-label="关闭")
              .form-group
                label.col-sm-4.control-label 显示全部
                .col-sm-8
                  toggle-switch.switch-success(ng-model="state.ShowAllPoints" on-label="开启"
              off-label="关闭")
        .panel.panel-default
          .panel-heading 时间设置
          .panel-body
            form.form-horizontal(role="form")
              .form-group
                label.col-sm-2.control-label(for="START") 月初
                .col-sm-10
                  input.form-control(type="number"  id="START" placeholder="日期")
              .form-group
                label.col-sm-2.control-label(for="END") 月末
                .col-sm-10
                  input.form-control(type="number"  id="END" placeholder="日期")
              .form-group
                label.col-sm-2.control-label(for="TMO") 上午
                .col-sm-10
                  input.form-control(type="number"  id="TMO" placeholder="时间")
              .form-group
                label.col-sm-2.control-label(for="TAF") 下午
                .col-sm-10
                  input.form-control(type="number"  id="TAF" placeholder="时间")
  #map.sidebar-map
    drag-able(dd-height= "100px" dd-width= "400px" dd-show="state.showGalley")
      .panel.panel-info
        .panel-heading 节点信息
        #popupinfo.panel-body
  div(pageslide ps-open="state.showTimeLine"  ps-click-outside="false" ps-container="mapview" ps-side="bottom"  ps-size ="300px" ps-push="true" style="background:rgba(255,255,255,0.5)")
   div
      a.close-popup(ng-click="closeTimeLine()") x
      p &nbsp;
   div#timeline(time-line)